{% extends 'commons/base.html.twig' %}
{% block title %}modification cours{% endblock %}
    {% block body %}
        {% include 'commons/_headerLittle.html.twig' %}
        <h1 class="titleCourse"> Modifier un cours</h1>

                {#  J'utilise ->  {{ form(courseForm) }}  ou pour pouvoir styliser
        je détaille comme ci-dessous   #}
<div class="formulaire">
    {#
        {{ form_start(courseForm) }} #}

        <div> {{ form_label(courseForm.name) }}
            {{ form_widget(courseForm.name, {'attr': {'class':'input_title'}}) }}
            {{ form_errors(courseForm)}}
        </div>
        {# je crée un label issu du formulaire 'courseForm' je crée un 'widget' ou input
        et lui attribue une class

        Ensuite je fais une classe dans le CSS #}

    {#  J'active l'affichage des erreurs avec 'form_errors'

    Ensuite je vais dans mon entité Constraints auquel je mets l'alias Assert
    dans la base de symfony dans mon Entité course

    Ensuite je créé @Assert et je mets la contrainte que je souhaite afficher #}

    <div> {{ form_label(courseForm.description) }}<br>
        {{ form_widget(courseForm.description, {'attr': {'class':'input_description'}}) }}
    </div>
    <div> {{ form_label(courseForm.price) }}<br>
        {{ form_widget(courseForm.price, {'attr': {'class':'input_price'}}) }}</div>
    <div>
        {{ form_label(courseForm.minPerson) }}
        {{ form_widget(courseForm.minPerson, {'attr': {'class': 'input_minPerson'}}) }}
        {{ form_errors(courseForm.minPerson)}}
    </div>
    <div>
        {{ form_label(courseForm.maxPerson) }}
        {{ form_widget(courseForm.maxPerson, {'attr': {'class': 'input_maxPerson'}}) }}
        {{ form_errors(courseForm.maxPerson)}}
    </div>
    {# {% if is_granted("ROLE_CE") %} #}
    <div>
        {{ form_label(courseForm.priceCe) }}
        {{ form_widget(courseForm.priceCe, {'attr': {'class': 'input_priceCe'}}) }}
        {{ form_errors(courseForm.priceCe)}}
    </div>
    {# {% endif %} #}
    <div>
        {{ form_label(courseForm.duration) }}
        {{ form_widget(courseForm.duration, {'attr': {'class': 'input_duration'}}) }}
        {{ form_errors(courseForm.duration)}}
    </div>
    <div>
        {{ form_label(courseForm.ticket) }}
        {{ form_widget(courseForm.ticket, {'attr': {'class': 'input_ticket'}}) }}
        {{ form_errors(courseForm.ticket)}}
    </div>
    <div>
        {{ form_label(courseForm.photo) }}
        {{ form_widget(courseForm.photo, {'attr': {'class': 'input_photo'}}) }}
        {{ form_errors(courseForm.photo)}}
    </div>
    <div>
        {{ form_label(courseForm.alt) }}
        {{ form_widget(courseForm.alt, {'attr': {'class': 'input_alt'}}) }}
        {{ form_errors(courseForm.alt)}}
    </div>
    <div> {{ form_label(courseForm.submit) }}
        {{ form_widget(courseForm.submit, {'attr': {'class':'input_submit'}}) }}</div>
</div>
    {{ form_end(courseForm) }}

        <button class="backCenter"><a href="{{ path('home') }}">Retour à l'accueil</a></button>
    {% endblock %}
