{% extends 'commons/base.html.twig' %}
    {% block body %}
        <main class="courseMain">
            {% include 'commons/_headerLittle.html.twig' %}
            <h1 class="courseTitle"> LES COURS</h1>
            <section class="courseDisplay">
                {% for course in courses %}
                    <div class="courseContainer">
                        <a class="" href="{{ path('course_show',{'id':course.id}) }}">
                             <div class="courseHoverContainer">
                                <img class="coursePhoto" src="{{ asset('upload_directory/' ~ course.photo) }}" alt="{{ course.alt }}" name="{{ course.alt }}">
                                <div class="courseHover">
                                    <h2>{{ course.name }}</h2>
                                  {#  <p>
                                        {{ course.description }}
                                    </p> #}
                                </div>
                            </div>
                        </a>
                        <div class="buttonCenter">
                            <a class="buttonDelete" href="{{ path('course_delete',{'id':course.id}) }}">supprimer</a>
                            <a class="button" href="{{ path('course_update',{'id':course.id}) }}">modifier</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        {#


                <div class="container-fluid">
                    <h2> {{ course.name }} </h2>
                    <div class="row row-cols-3 row-cols-sm-2 row-cols-md-1">
                        <div class="col col-sm-8 col-md-6 col-lg-6 courses">
                            <img src="{{ asset('upload_directory/' ~ course.photo) }}">
                            <div class="courses">

                            </div>
                            <a href="{{ path('course_show',{'id':course.id}) }}">
                                voir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
                    <a class="button buttonLeft" href="{{ path('home') }}">Retour à l'accueil</a>
#}
        </main>
    {% endblock %}