{% extends 'commons/base.html.twig' %}
{% block title %}reservation{% endblock %}
    {% block body %}
        {% include 'commons/_headerLittle.html.twig' %}
        <h1 class="titleCourse">Faire une réservation</h1>

        {#  J'utilise ->  {{ form(courseForm) }}  ou pour pouvoir styliser
je détaille comme ci-dessous   #}
        <div class="formulaire">

            {{ form_start(userCourseForm) }}

            <div> {{ form_label(userCourseForm.dateCourse) }}
                {{ form_widget(userCourseForm.dateCourse, {'attr': {'class':'input_date'}}) }}
                {{ form_errors(userCourseForm.dateCourse) }}
            </div>
            {# je crée un label issu du formulaire 'userCourseForm' je crée un 'widget' ou input
            et lui attribue une class

            Ensuite je fais une classe dans le CSS #}

            {#  J'active l'affichage des erreurs avec 'form_errors'

            Ensuite je vais dans mon entité Constraints auquel je mets l'alias Assert
            dans la base de symfony dans mon Entité course

            Ensuite je créé @Assert et je mets la contrainte que je souhaite afficher #}

            <div> {{ form_label(userCourseForm.datePurchase) }}<br>
                {{ form_widget(userCourseForm.datePurchase, {'attr': {'class':'input_date'}}) }}
                {{ form_errors(userCourseForm.datePurchase) }}
            </div>
            <div> {{ form_label(userCourseForm.price) }}<br>
                {{ form_widget(userCourseForm.price, {'attr': {'class':'inputPrice'}}) }}
                {{ form_errors(userCourseForm.price) }}
            </div>
            {# {% if is_granted("ROLE_CE") %}
            <div>
                {{ form_label(userCourseForm.price) }}<br>
                {{ form_widget(userCourseForm.price, {'attr': {'class': 'inputPrice'}}) }}
                {{ form_errors(userCourseForm.price) }}
            </div>
            {# {% endif %} #}
            <div>
                {{ form_label(userCourseForm.hourStart) }}<br>
                {{ form_widget(userCourseForm.hourStart, {'attr': {'class': 'input_hour'}}) }}
                {{ form_errors(userCourseForm.hourStart)}}
            </div>

            <div>
                {{ form_label(userCourseForm.hourEnd) }}
                {{ form_widget(userCourseForm.hourEnd, {'attr': {'class': 'input_hour'}}) }}
                {{ form_errors(userCourseForm.hourEnd) }}
            </div>
            <div> {{ form_label(userCourseForm.submit) }}
                {{ form_widget(userCourseForm.submit, {'attr': {'class':'inputSubmit'}}) }}</div>

            {{ form_end(userCourseForm) }}
        </div>
        <button class="backCenter"><a href="{{ path('user_course') }}">Retour à l'accueil</a></button>
    {% endblock %}