{% extends 'commons/base.html.twig' %}
{% block title %}modification catégorie{% endblock %}
    {% block body %}
        {% include 'commons/_headerLittle.html.twig' %}
        <h1 class="titleCourse"> Modifier une catégorie de cours</h1>

        {#  J'utilise ->  {{ form(courseForm) }}  ou pour pouvoir styliser
je détaille comme ci-dessous   #}
        <div class="formulaire">

            {{ form_start(courseTypeForm) }}

            <div> {{ form_label(courseTypeForm.name) }}
                {{ form_widget(courseTypeForm.name, {'attr': {'class':'input_title'}}) }}
                {{ form_errors(courseTypeForm)}}
            </div>
            {# je crée un label issu du formulaire 'courseTypeForm' je crée un 'widget' ou input
            et lui attribue une class

            Ensuite je fais une classe dans le CSS #}

            {#  J'active l'affichage des erreurs avec 'form_errors'

            Ensuite je vais dans mon entité Constraints auquel je mets l'alias Assert
            dans la base de symfony dans mon Entité course

            Ensuite je créé @Assert et je mets la contrainte que je souhaite afficher #}

            <div> {{ form_label(courseTypeForm.submit) }}
                {{ form_widget(courseTypeForm.submit, {'attr': {'class':'inputSubmit'}}) }}</div>

            {{ form_end(courseTypeForm) }}
        </div>
        <button class="backCenter"><a href="{{ path('home') }}">Retour à l'accueil</a></button>
    {% endblock %}