{% extends 'commons/base.html.twig' %}
    {% block body %}
        <main class="courseMain">
            {% include 'commons/_headerLittle.html.twig' %}
            <h1 class="userTitle"> LES GOLFEURS</h1>
            <section class="userDisplay">
                {% for user in users %}
                    <div class="userContainer">
                        <a class="" href="{{ path('admin_user',{'id':user.id}) }}">
                                <div>{{ user.firstName }} {{ user.lastName }}</div>
                                <div>Téléphone : {{ user.phone }} - email : {{ user.email }}</div>
                            {% if user.creditDuration > 0 %}
                                <div> Solde de tickets non utilisés à ce jour {{ user.creditDuration }}</div>
                               {% endif %}
                            <br>
                            <div class="userButtonCenter">
                                <a class="userButtonDelete" href="{{ path('user_delete',{'id':user.id}) }}">supprimer</a>
                                <a class="userButton" href="{{ path('user_update',{'id':user.id}) }}">modifier</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </section>
        </main>
    {% endblock %}